[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
watchdog = "*"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-login = "*"
faker = "*"
flask-wtf = "*"

[requires]
python_version = "3.7"
