<nav class="green lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a class="brand-logo" href="#intro">Todoism</a>
        <ul class="right">
            <li>
                <a class="waves-effect waves-light btn red" href="#login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer class="center">
    <small>
        &copy; 2020 <a class="blue-text link" href="http://bruski.wang" title="Written by Bruski Wang">Bruski Wang</a> -
        <a class="blue-text link" href="https://github.com/bruceeewong/todoism" title="Fork me on GitHub">GitHub</a> -
        <a class="blue-text link" href="http://helloflask.com" title="A HelloFlask project">HelloFlask</a>
    </small>

</footer>