<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Todoism</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div id="main"></div>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    var csrf_token = "{{ csrf_token() }}";

    var intro_page_url = "{{ url_for('home.intro') }}";
    var login_page_url = "{{ url_for('auth.login') }}";
    var app_page_url = "{{ url_for('todo.app') }}";

    var register_url = "{{ url_for('auth.register') }}";
    var login_url = "{{ url_for('auth.login') }}";

    var default_error_message = "{{ 'Oops, something was wrong!' }}";
    var login_error_message = "{{ 'Empty username or password!' }}";
</script>
</body>
</html>